.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: 150px 1fr auto;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0 10px 0;
  position: relative;
}

.icon-button {
  color: gray;
}

.header-icon-button {
  color: hotpink !important;
  position: fixed !important;
  top: 0px;
  right: 0px;
  margin: 10px !important;
}

.instagram-button {
  font-size: 2rem !important;
}

.footer-text {
  font-size: .9rem;
  color: gray;
  font-family: Skeina;
}

.header-link {
  text-decoration: none;
  color: orange;
  font-family: Skeina;
}