@font-face {
  font-family: "SF Light";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Regular";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-family: "SF Light", sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: "SF Regular", sans-serif;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-family: "SF Regular", sans-serif;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: "SF Light", sans-serif;
}

a {
  font-family: "SF Light", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

small {
  font-family: "SF Light", sans-serif;
  font-size: 1.2rem;
}
