@font-face {
  font-family: "SF Light";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Regular";
  src: url("../fonts/SF-Pro-Display-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "SF Light", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

a {
  font-family: "SF Light", sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
