.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-gap: 20px;
  padding: 20px;
  grid-template-rows: 150px 1fr auto;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}

.content {
  grid-area: content;
  background-color: #aaaaaa;
}

.footer {
  grid-area: footer;
}