.container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--chakra-spacing-1);
}

.container.mobile {
  gap: 0px;
}

.work-card {
  display: block;
}

.skeleton {
  height: 400px;
  width: 400px;
}

.skeleton.mobile {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.skeleton > :global(img) {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
