.container {
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  justify-content: center;
  gap: var(--chakra-spacing-9);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--chakra-spacing-1);
}

.sub-text {
  color: var(--chakra-colors-fg-secondary);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-spacing-6);
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--chakra-spacing-2);
}

.error {
  color: var(--chakra-colors-danger-text);
  margin: 0;
  font-size: var(--chakra-font-sizes-body-sm);
}
