.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--chakra-spacing-5);
  width: 100%;
}

.container.mobile {
  display: flex;
  flex-direction: column;
  gap: var(--chakra-spacing-3);
}

@media (max-width: 700px) {
  .container:not(.mobile) {
    grid-template-columns: 1fr;
  }
}
