.container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  gap: var(--chakra-spacing-6);
  width: 100%;
}

.container.mobile {
  gap: var(--chakra-spacing-3);
  display: block;
}
