.container {
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-gap: 20px;
  padding: 20px;
  grid-template-rows: 150px 1fr auto;
  height: 100vh;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.icon-button {
  color: gray;
}