body {
  margin: 0;
  background: var(--chakra-colors-surface-page);
  color: var(--chakra-colors-fg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--chakra-fonts-mono);
}